<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="utf-8">
  <title>yapilacaklarlistesi</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <script src="{{url_for('static', filename='js/socket.io.min.js')}}"></script> 
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<main>

  <div id="todo-list-example1">
    <form class="c11" v-on:submit.prevent="addNewTodo">
      <label for="new-todo">Add a todo</label>
      <input
        v-model="newTodoText"
        id="new-todo"
        placeholder="something to do"
      >
      <button>Add</button>
    </form>
  <button v-on:click="test3">aaa</button>
  <span>[[ testData ]]</span>
  <table>
    <tr>
      <th></th>
      <th >index</th>
      <th >done</th>
      <th style="width: 50vh;">task</th>
      <th></th>
    </tr>
    <tr v-for="(todo, index) in todos">
      <td> <input type="checkbox" id="checkbox" v-model="todo.done" v-on:click="test2(index)"></td>
      <td>[[ index ]]</td>
      <td>[[ todo.done ]]</td>
      <td v-bind:style="[todo.done ? styleObject1 : styleObject2]">[[ todo.title ]]</td>
      <th> <button v-on:click="todos.splice(index, 1)">Remove</button> </th>
    </tr>
  </table>
</div>
</main>

<script>


// socket.on('connect', function () {
//         socket.emit('connect_to_server', todos);
//       });

// socket.on('backend_sends_all_list', function (dataFromBackend) {
//     aaa=[];
//     aaa=dataFromBackend;
//     console.log(aaa);
// });

new Vue({
  
  delimiters: ["[[","]]"],
  el: '#todo-list-example1',
  data: {
    testData :1111110,
    styleObject1: {
    color: 'red',
    fontSize: '12px',
    "text-decoration": "line-through",
  },
  styleObject2: {
    color: 'blue',
    fontSize: '20px'
  },
    newTodoText: '',
    todos: [
      {
        id: 1,
        title: 'do task1',
        done:false,
      },
      {
        id: 2,
        title: 'do task2',
        done:false,
      },
      {
        id: 3,
        title: 'do task3',
        done:false,
      }
    ],
    nextTodoId: 4,
    socket : io.connect('http://' + document.domain + ':' + location.port),
    
  },

  methods: {
    //this.socket.on('backend_sends_all_list', function (dataFromBackend) {console.log("hjjjj")}),
    addNewTodo: function () {
      this.todos.push({
        id: this.nextTodoId++,
        title: this.newTodoText,
        done :false
      });
      //socket.emit('connect_to_server', this.todos.at(-1));
      socket.emit('addDataToBackendSql', this.todos.at(-1));
      this.newTodoText = '';

    },
    test1: function (index33) {
      if (this.todos[index33]["done"] == true){ console.log("test1 okey")}
      console.log(this.todos[index33]["title"]);
      this.socket.emit('connect_to_server', this.todos[index33]);
    },
    test2: function (data) {
      //console.log(data);
      this.socket.emit('connect_to_server', this.testData);
    },
    test3: function () {
      //this.testData=44444;
      console.log("**55",this.testData);
    },
  },
  created: function () {
    this.testData=56565656;
    this.socket.on('backend_sends_all_list', function (dataFromBackend) {
      console.log(dataFromBackend["id"],dataFromBackend["title"],dataFromBackend["done"]);
      //this.todos.push({id:dataFromBackend["id"],title:dataFromBackend["title"],done:dataFromBackend["done"]});
      //this.todos.push({id:10,title:"hjjhjjh",done:false}); 
      this.testData=88880;
    } 
    );
    
  }
})

</script> 